@import url('index.css');

.heroProfileContainer {
	display: flex;
	max-width: 80%;
	margin: auto;
	margin-top: 30px;
	font-size: 1.4rem;
}
.heroProfileContainer > .left {
	flex-basis: 50%;
}
.heroProfileContainer > .left > .powerList {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 30px 10px;
}
.heroProfileContainer > .left > .powerList > .powerTitle {
	width: 50px;
	text-align: center;
}
.heroProfileContainer > .left > .powerList > .powerNumber {
	width: 50px;
	text-align: center;
}
.heroProfileContainer > .left > .powerList > .addButton,
.heroProfileContainer > .left > .powerList > .minusButton {
	width: 50px;
	height: 50px;
	font-size: 1.5rem;
	border-radius: 10px;
	border: 1px solid grey;
	cursor: pointer;
}
.heroProfileContainer > .left > .powerList > .addButton:hover,
.heroProfileContainer > .left > .powerList > .minusButton:hover {
	box-shadow: 0 0 10px -5px #979797;
	transform: scale(1.01);
}
.heroProfileContainer > .left > .powerList > .disableButton {
	width: 50px;
	height: 50px;
	font-size: 1.5rem;
	border-radius: 10px;
	border: 1px solid grey;
	background: lightgrey;
	cursor: not-allowed;
}
.heroProfileContainer {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

.heroProfileContainer > .right {
	flex-basis: 50%;
	justify-content: flex-end;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 30px;
}
.heroProfileContainer > .right > div {
	width: 150px;
	font-size: inherit;
	margin-bottom: 20px;
}
.heroProfileContainer > .right > .patchButton {
	width: 150px;
	height: 50px;
	font-size: 1.5rem;
	border-radius: 10px;
	border: 1px solid grey;
	cursor: pointer;
}
.heroProfileContainer > .right > .patchButtonDisable {
	width: 150px;
	height: 50px;
	font-size: 1.5rem;
	border-radius: 10px;
	border: 1px solid grey;
	cursor: not-allowed;
	background: lightgrey;
}
.heroProfileContainer > .right > .patchButton:hover {
	box-shadow: 0 0 10px -5px #979797;
	transform: scale(1.01);
}
.heroProfileContainer > .right > .loader {
	border: 5px solid #f3f3f3;
	border-top: 5px solid grey;
	border-radius: 50%;
	width: 30px !important;
	height: 30px;
	animation: spin 2s linear infinite;
	align-self: flex-start;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* ================
media query
================ */

@media (max-width: 750px) {
	.heroProfileContainer {
		font-size: 1.2rem;
		flex-direction: column;
	}
	.heroProfileContainer > .left,
	.heroProfileContainer > .right {
		flex-basis: 98%;
		box-sizing: border-box;
	}
	.heroProfileContainer > .right {
		padding: 0 30px;
	}
	.heroProfileContainer > .right > .loader {
		align-self: center;
	}
	.heroProfileContainer > .right > .patchButton,
	.heroProfileContainer > .right > .patchButtonDisable,
	.heroProfileContainer > .right > div {
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 360px) {
	.heroProfileContainer {
		font-size: 1rem;
		max-width: 80%;
		margin: 40px;
	}
	.heroProfileContainer > .left > .powerList {
		margin: 10px 0;
		justify-content: space-between;
	}
	.heroProfileContainer > .left > .powerList > .disableButton,
	.heroProfileContainer > .left > .powerList > .addButton,
	.heroProfileContainer > .left > .powerList > .minusButton {
		width: 30px;
		height: 30px;
		font-size: inherit;
	}
	.heroProfileContainer > .right {
		padding: 0;
	}
	.heroProfileContainer > .right > div {
		margin-bottom: 10px;
	}
	.heroProfileContainer > .right > .patchButton {
		font-size: inherit;
		height: 30px;
	}
}
